In [7]:
import pandas as pd
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
import joblib


# Load datasets
train_data = pd.read_csv('air_train.csv')
test_data = pd.read_csv('air_test.csv')

In [8]:
train_data

,id,date_time,is_holiday,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,air_pollution_index,traffic_volume
0,18707,10/1/2015 5:00,None,77,7,296,1,1,278.27,0.0,0.00,1,Clear,162,2922
1,31577,3/8/2017 2:00,None,36,3,140,6,6,272.41,0.0,0.00,90,Snow,224,303
2,14307,5/13/2014 19:00,None,92,0,112,9,9,284.15,0.0,0.00,32,Clouds,135,3484
3,20164,12/23/2015 14:00,None,92,3,150,4,4,273.74,0.0,0.32,90,Rain,135,5182
4,11989,2/3/2014 22:00,None,85,2,220,5,5,257.47,0.0,0.00,75,Clouds,183,1628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26995,7813,7/20/2013 19:00,None,80,2,343,3,3,300.17,0.0,0.00,0,Clear,187,3822
26996,32511,4/9/2017 22:00,None,84,3,99,7,7,286.03,0.0,0.00,75,Rain,164,1831
26997,5192,4/16/2013 21:00,None,75,3,340,9,9,275.34,0.0,0.00,75,Clouds,162,2473
26998,12172,2/11/2014 13:00,None,80,3,120,9,9,261.18,0.0,0.00,40,Clouds,231,4809
26999,33003,4/24/2017 18:00,None,64,3,360,6,6,292.69,0.0,0.00,90,Rain,149,4501

In [9]:
test_data

,id,date_time,is_holiday,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,traffic_volume
0,8419,8/14/2013 22:00,None,76,2,140,6,6,287.82,0.00,0.0,0,Clear,2014
1,21188,2/9/2016 14:00,None,74,4,170,8,8,264.28,0.00,0.0,1,Clear,5384
2,15443,7/12/2014 11:00,None,52,7,308,8,8,296.57,0.00,0.0,92,Drizzle,4144
3,5952,5/11/2013 21:00,None,94,3,145,6,6,288.93,0.00,0.0,1,Clear,2147
4,28213,11/18/2016 18:00,None,77,3,355,9,9,273.59,0.00,0.0,90,Snow,3486
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6745,11439,1/13/2014 21:00,None,43,1,328,5,5,269.87,0.25,0.0,64,Snow,2107
6746,12969,3/16/2014 21:00,None,45,7,280,6,6,267.96,0.00,0.0,75,Clouds,2058
6747,726,10/28/2012 17:00,None,45,4,20,9,9,278.27,0.00,0.0,75,Clouds,4280
6748,20169,12/23/2015 20:00,None,95,2,209,7,7,272.59,0.00,0.0,90,Clouds,2303
6749,17610,8/21/2015 17:00,None,75,3,280,2,2,299.18,0.00,0.0,1,Clear,5115

In [10]:
# Inspect datasets
print(train_data.head())
print(train_data.info())
print(test_data.head())
print(test_data.info())

      id         date_time is_holiday  humidity  wind_speed  wind_direction  \
0  18707    10/1/2015 5:00       None        77           7             296
1  31577     3/8/2017 2:00       None        36           3             140
2  14307   5/13/2014 19:00       None        92           0             112
3  20164  12/23/2015 14:00       None        92           3             150
4  11989    2/3/2014 22:00       None        85           2             220

   visibility_in_miles  dew_point  temperature  rain_p_h  snow_p_h  \
0                    1          1       278.27       0.0      0.00
1                    6          6       272.41       0.0      0.00
2                    9          9       284.15       0.0      0.00
3                    4          4       273.74       0.0      0.32
4                    5          5       257.47       0.0      0.00

   clouds_all weather_type  air_pollution_index  traffic_volume
0           1        Clear                  162            2922
1          90         Snow                  224             303
2          32       Clouds                  135            3484
3          90         Rain                  135            5182
4          75       Clouds                  183            1628
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27000 entries, 0 to 26999
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   27000 non-null  int64
 1   date_time            27000 non-null  object
 2   is_holiday           27000 non-null  object
 3   humidity             27000 non-null  int64
 4   wind_speed           27000 non-null  int64
 5   wind_direction       27000 non-null  int64
 6   visibility_in_miles  27000 non-null  int64
 7   dew_point            27000 non-null  int64
 8   temperature          27000 non-null  float64
 9   rain_p_h             27000 non-null  float64
 10  snow_p_h             27000 non-null  float64
 11  clouds_all           27000 non-null  int64
 12  weather_type         27000 non-null  object
 13  air_pollution_index  27000 non-null  int64
 14  traffic_volume       27000 non-null  int64
dtypes: float64(3), int64(9), object(3)
memory usage: 3.1+ MB
None
      id         date_time is_holiday  humidity  wind_speed  wind_direction  \
0   8419   8/14/2013 22:00       None        76           2             140
1  21188    2/9/2016 14:00       None        74           4             170
2  15443   7/12/2014 11:00       None        52           7             308
3   5952   5/11/2013 21:00       None        94           3             145
4  28213  11/18/2016 18:00       None        77           3             355

   visibility_in_miles  dew_point  temperature  rain_p_h  snow_p_h  \
0                    6          6       287.82       0.0       0.0
1                    8          8       264.28       0.0       0.0
2                    8          8       296.57       0.0       0.0
3                    6          6       288.93       0.0       0.0
4                    9          9       273.59       0.0       0.0

   clouds_all weather_type  traffic_volume
0           0        Clear            2014
1           1        Clear            5384
2          92      Drizzle            4144
3           1        Clear            2147
4          90         Snow            3486
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6750 entries, 0 to 6749
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   6750 non-null   int64
 1   date_time            6750 non-null   object
 2   is_holiday           6750 non-null   object
 3   humidity             6750 non-null   int64
 4   wind_speed           6750 non-null   int64
 5   wind_direction       6750 non-null   int64
 6   visibility_in_miles  6750 non-null   int64
 7   dew_point            6750 non-null   int64
 8   temperature          6750 non-null   float64
 9   rain_p_h             6750 non-null   float64
 10  snow_p_h             6750 non-null   float64
 11  clouds_all           6750 non-null   int64
 12  weather_type         6750 non-null   object
 13  traffic_volume       6750 non-null   int64
dtypes: float64(3), int64(8), object(3)
memory usage: 738.4+ KB
None

In [11]:
# Check for missing values
print(train_data.isnull().sum())
print(test_data.isnull().sum())

id                     0
date_time              0
is_holiday             0
humidity               0
wind_speed             0
wind_direction         0
visibility_in_miles    0
dew_point              0
temperature            0
rain_p_h               0
snow_p_h               0
clouds_all             0
weather_type           0
air_pollution_index    0
traffic_volume         0
dtype: int64
id                     0
date_time              0
is_holiday             0
humidity               0
wind_speed             0
wind_direction         0
visibility_in_miles    0
dew_point              0
temperature            0
rain_p_h               0
snow_p_h               0
clouds_all             0
weather_type           0
traffic_volume         0
dtype: int64

In [12]:
# Drop rows with missing target variable
train_data = train_data.dropna(subset=['air_pollution_index'])

In [13]:
# For other missing values, we can either drop or impute
# Example: Fill missing values with the mean of the column
train_data.fillna(train_data.mean(), inplace=True)
test_data.fillna(test_data.mean(), inplace=True)

/var/folders/hx/kqn1vs8s2ll8zw0b83n22r2r0000gn/T/ipykernel_29149/3457105837.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  train_data.fillna(train_data.mean(), inplace=True)
/var/folders/hx/kqn1vs8s2ll8zw0b83n22r2r0000gn/T/ipykernel_29149/3457105837.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  test_data.fillna(test_data.mean(), inplace=True)

In [14]:
# Separate features and target variable
X_train = train_data.drop(columns=['air_pollution_index'])

In [15]:
y_train = train_data['air_pollution_index']

In [16]:
X_test = test_data

In [17]:
# Normalize features
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import StandardScaler

In [18]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Assuming X_train and X_test are your training and test datasets in DataFrame format
# Identify non-numeric columns
non_numeric_columns = X_train.select_dtypes(include=['object', 'datetime']).columns

# Drop non-numeric columns
X_train_numeric = X_train.drop(columns=non_numeric_columns)
X_test_numeric = X_test.drop(columns=non_numeric_columns)

In [19]:
# Apply StandardScaler to the numeric data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_numeric)
X_test_scaled = scaler.transform(X_test_numeric)

In [20]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_numeric)
X_test_scaled = scaler.transform(X_test_numeric)

In [21]:
# Step 5: Model Selection
# Split training data for validation
X_train_split, X_val, y_train_split, y_val = train_test_split(X_train_scaled, y_train, test_size=0.2, random_state=42)

In [22]:
# Define models and parameter grids for hyperparameter tuning

from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
models = {
    'LinearRegression': LinearRegression(),
    'Ridge': Ridge(),
    'Lasso': Lasso(),
    'RandomForestRegressor': RandomForestRegressor()
}

In [23]:
param_grids = {
    'LinearRegression': {},
    'Ridge': {'alpha': [0.1, 1.0, 10.0]},
    'Lasso': {'alpha': [0.1, 1.0, 10.0]},
    'RandomForestRegressor': {'n_estimators': [100, 200], 'max_depth': [10, 20]}
}

In [24]:
best_models = {}

for name, model in models.items():
    grid_search = GridSearchCV(model, param_grids[name], cv=5, scoring='neg_mean_squared_error')
    grid_search.fit(X_train_split, y_train_split)
    best_models[name] = grid_search.best_estimator_
    y_val_pred = grid_search.best_estimator_.predict(X_val)
    mse = mean_squared_error(y_val, y_val_pred)
    print(f'{name} - Best Params: {grid_search.best_params_}, Validation MSE: {mse}')

LinearRegression - Best Params: {}, Validation MSE: 6936.191759455848
Ridge - Best Params: {'alpha': 10.0}, Validation MSE: 6936.190305004255
Lasso - Best Params: {'alpha': 10.0}, Validation MSE: 6934.473207992542
RandomForestRegressor - Best Params: {'max_depth': 10, 'n_estimators': 200}, Validation MSE: 6968.907293155597

In [25]:
# Step 6: Model Evaluation
# Select the best model based on validation MSE
best_model = best_models['RandomForestRegressor']  # Example, assuming RandomForest performed best

In [26]:
# Evaluate on validation set
y_val_pred = best_model.predict(X_val)
val_mse = mean_squared_error(y_val, y_val_pred)
print(f'Validation MSE: {val_mse}')

Validation MSE: 6968.907293155597

In [27]:
# Predict on test set
y_test_pred = best_model.predict(X_test_scaled)

In [28]:
# If test data includes true values of air_pollution_index
if 'air_pollution_index' in test_data.columns:
    y_test_true = test_data['air_pollution_index']
    test_mse = mean_squared_error(y_test_true, y_test_pred)
    print(f'Test MSE: {test_mse}')

In [29]:
# Save predictions
test_data['predicted_air_pollution_index'] = y_test_pred
test_data.to_csv('air_test_predictions.csv', index=False)

In [30]:

# Step 7: Save the Model
# Save the best model
joblib.dump(best_model, 'best_aqi_model.pkl')

['best_aqi_model.pkl']

In [31]:
 y_test_pred

array([159.04323634, 154.99510745, 159.74871825, ..., 150.47296812,
       155.47892252, 154.54254876])

In [32]:
data7 = pd.read_csv('air_test_predictions.csv')

In [33]:
data7

,id,date_time,is_holiday,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,traffic_volume,predicted_air_pollution_index
0,8419,8/14/2013 22:00,None,76,2,140,6,6,287.82,0.00,0.0,0,Clear,2014,159.043236
1,21188,2/9/2016 14:00,None,74,4,170,8,8,264.28,0.00,0.0,1,Clear,5384,154.995107
2,15443,7/12/2014 11:00,None,52,7,308,8,8,296.57,0.00,0.0,92,Drizzle,4144,159.748718
3,5952,5/11/2013 21:00,None,94,3,145,6,6,288.93,0.00,0.0,1,Clear,2147,153.845762
4,28213,11/18/2016 18:00,None,77,3,355,9,9,273.59,0.00,0.0,90,Snow,3486,158.032083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6745,11439,1/13/2014 21:00,None,43,1,328,5,5,269.87,0.25,0.0,64,Snow,2107,153.773527
6746,12969,3/16/2014 21:00,None,45,7,280,6,6,267.96,0.00,0.0,75,Clouds,2058,154.090996
6747,726,10/28/2012 17:00,None,45,4,20,9,9,278.27,0.00,0.0,75,Clouds,4280,150.472968
6748,20169,12/23/2015 20:00,None,95,2,209,7,7,272.59,0.00,0.0,90,Clouds,2303,155.478923
6749,17610,8/21/2015 17:00,None,75,3,280,2,2,299.18,0.00,0.0,1,Clear,5115,154.542549

In [34]:
 y_test_pred.to_csv('air_test_quality_submission.csv', index=False)

AttributeError: 'numpy.ndarray' object has no attribute 'to_csv'

In [36]:
data4= y_test_pred

In [37]:
data4

array([159.04323634, 154.99510745, 159.74871825, ..., 150.47296812,
       155.47892252, 154.54254876])

In [38]:
# Convert the numpy array to a pandas Series
y_test_pred_series = pd.Series(y_test_pred, name='PredictedValues')

In [41]:
# Save the Series to a CSV file
y_test_pred_series.to_csv('air_test_quality_submission.csv', index=False)

In [40]:
y_test_pred_series

0       159.043236
1       154.995107
2       159.748718
3       153.845762
4       158.032083
           ...
6745    153.773527
6746    154.090996
6747    150.472968
6748    155.478923
6749    154.542549
Name: PredictedValues, Length: 6750, dtype: float64